#hud-container {
	position: absolute;
	left: 16px;
	bottom: 16px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

.meter-container {
	display: inline-block;
	box-sizing: border-box;
	height: 32px;
	padding: 8px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-color: #353535;
	opacity: 0;
}

.meter-icon {
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
}

.meter-segment {
	display: inline-block;
	height: 100%;
	width: 10px;
	vertical-align: top;
	margin-right: 4px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	opacity: 0.99;
}

.meter-segment:last-child {
	margin-right: 0;
}

.meter-segment-empty {
	position: absolute;
	display: inline-block;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-color: #252525;
}