#interface-container {
	position: absolute;
	left: 8px;
	bottom: 12px;
	font-size: 0;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#hud-container {
	display: inline-block;
	left: 16px;
	bottom: 16px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
	vertical-align: bottom;
}

.meter-container {
	font-size: 0;
	margin-top: 4px;
}

.meter {
	display: inline-block;
	box-sizing: border-box;
	height: 32px;
	padding: 8px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-color: #303030;
	opacity: 0;
}

.meter-icon {
	font-size: 0;
	display: inline-block;
	vertical-align: top;
	margin-right: 6px;
}

.meter-segment {
	display: inline-block;
	height: 100%;
	width: 10px;
	vertical-align: top;
	margin-right: 4px;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	opacity: 0.99;
}

.meter-segment:last-child {
	margin-right: 0;
}

.meter-segment-empty {
	position: absolute;
	display: inline-block;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-color: #252525;
}

.meter-text {
	position: relative;
	font-size: 16px;
}

/* CHAT */

#chat {
	display: inline-block;
	left: 16px;
	bottom: 16px;
	width: 300px;
	margin-right: 4px;

	vertical-align: bottom;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	color: white;
	background-color: #454545;
	opacity: 0;
}

#chat-titlebar {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 12px 0 12px;
	font-size: 16px;

	background-color: #303030;
}

#chat-content {
	height: 256px;
	padding: 5px;

	word-break: break-all;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	font-size: 14px;
}

#chat-titlebar {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding: 0 12px 0 12px;

	background-color: #303030;
}

#chat-input {
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	box-sizing: border-box;

	border: none;
	border-top: 1px dashed #888 !important;
	outline: none;

	color: white;
	background-color: transparent;
	font-size: 14px;
	font-family: inherit;
}

.chat-message-container {
	margin-bottom: 4px;
}

.chat-message-container:last-child {
	margin-bottom: 0;
}

.chat-message-name {
	color: red;
	font-weight: 800;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);
}

.chat-message {

}