#shop {
	padding: 0 0 0 0;
	margin: 0 0 0 0;

	overflow: hidden;

	width: 600px;
	height: 400px;

	background-color: black;
	opacity: 0.9;
	color: white;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid white;

	z-index: 99999;
}

#shop-close {
	position: absolute;
	display: inline;

	color: red;
	font-size: 24px;
	cursor: pointer;
}

#shop-page {

}