@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

@font-face {
  font-family: "Source Code Pro";
}

* {
	padding: 0 0 0 0;
	margin: 0 0 0 0;

	overflow: hidden;

	font-family: "Source Code Pro", monospace;
}

body {
	background-color: black;
}

/* Login */

#title-container {
	position: absolute;
	z-index: 999;
	color: yellow;
	text-align: center;
}

#title {
	font-size: 96px;
}

#name-input-title {
	font-size: 24px;
}

#name-input {
	background: none;
	outline: none;
	border: none;

	width: 235px;

	font-size: 24px;
	line-height: 24px;

	color: inherit;
	font-family: inherit;
}

#help-message {
	font-size: 12px;
	font-style: italic;
}

#fps-meter-container {
	display: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#title-button-container {
	position: absolute;
	top: 10px;
	padding-bottom: 8px;
	width: 100%;
	text-align: center;

	opacity: 0.5;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title-button {
	position: relative;
	padding: 4px 8px 4px 8px;

	color: yellow;
	background-color: black;
	font-size: 16px;

	border: 2px solid yellow;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	cursor: pointer;
	outline: none;
}

.title-button:active {
	top: 2px;
}

#others-container {
	position: absolute;
	z-index: 999;
	color: yellow;
	text-align: center;
	opacity: 0;
}

#controls-container {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#controls-used {
	position: absolute;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/* In-Game */

.nametag {
	position: absolute;
	display: block;
	font-size: 16px;
	color: white;
	text-shadow: #000 0px 0px 8px;
	padding: 4px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

.collect-credits {
	position: absolute;
	display: block;
	font-size: 24px;
	color: yellow;
	text-shadow: #000 0px 0px 8px;
	padding: 4px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;

	z-index: 9999;
}