@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");

@font-face {
  font-family: "Source Code Pro";
}

* {
	padding: 0 0 0 0;
	margin: 0 0 0 0;

	overflow: hidden;

	font-family: "Source Code Pro", monospace;
}

body {
	background-color: black;
}

/* Login */

#title-container {
	position: absolute;
	z-index: 999;
	color: yellow;
	text-align: center;
}

#title {
	font-size: 96px;
}

#name-input-title {
	font-size: 24px;
}

#name-input {
	background: none;
	outline: none;
	border: none;

	width: 235px;

	font-size: 24px;
	line-height: 24px;

	color: inherit;
	font-family: inherit;
}

#help-message {
	font-size: 12px;
	font-style: italic;
}

/* Notes */

#notes-container {
	position: absolute;
	top: 0;
	left: 8px;

	color: yellow;
}

#notes-title {
	font-size: 32px;
	font-style: italic;
}

#notes-content {
	font-size: 12px;
}

#fps-meter-container {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* In-Game */

.nametag {
	position: absolute;
	display: block;
	font-size: 16px;
	color: white;
	text-shadow: #000 0px 0px 8px;
	padding: 4px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;
}

.collect-credits {
	position: absolute;
	display: block;
	font-size: 24px;
	color: yellow;
	text-shadow: #000 0px 0px 8px;
	padding: 4px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	cursor: default;

	z-index: 9999;
}